@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Gest";
  src: url("/fonts/Gest-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gest Mono";
  src: url("/fonts/GestMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gest Mono";
  src: url("/fonts/GestMono-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212121;
}

input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].no-spinner {
  -moz-appearance: textfield;
}

/* ========== Updated Color System ========== */
:root {
  /* Brand */
  --color-primary: #1c1c1c;
  --color-secondary: #ffffff;
  --color-tertiary: #fefaef;

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #ffffff;

  /* Decor */
  --form-outlines: #5a5a5a;
  --divider: #000000;

  /* Semantics */
  --color-positive: #02af3e;
  --color-negative: #f25930;

  /* Optional (backgrounds if needed) */
  --color-background: #ffffff;
  --color-background-green: #d9ffe6;
  --color-background-red: #ffe3d7;
  --color-background-gray: #f3f3f3;
}

.light {
  /* Same color palette for light mode if you're not using theme switching */
  --color-primary: #1c1c1c;
  --color-secondary: #ffffff;
  --color-tertiary: #fefaef;

  --text-primary: #1c1c1c;
  --text-secondary: #7e7e7e;

  --form-outlines: #5a5a5a;
  --divider: #d2d2d2;

  --color-positive: #02af3e;
  --color-negative: #f25930;

  --color-background: #ffffff;
}

/* Optional Custom Utility */
@layer utilities {
  .shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -200%;
    height: 100%;
    width: 200%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(86, 148, 255, 0.12),
      transparent
    );
    animation: shimmer 1.4s infinite;
    filter: blur(4px) brightness(1.3);
  }

  .bg-custom-dark {
    background-color: #1c1c1c;
  }
}

@keyframes shimmer {
  0% {
    left: -200%;
  }

  100% {
    left: 100%;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
